/* CSS BY Jesse Foster */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-position: inside;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    min-width: 320px;
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    font-family: "Playfair Display", serif;
    line-height: 1.4;
}

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding: 2rem 1rem 1.75rem;
    text-align: center;
}

header img {
    width: 125px;
    margin: 0 auto 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
}

header p {
    margin-top: .75rem;
    font-style: italic;
}

nav {
    background-color: var(--champagne-gold);
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

nav a {
    display: block;
    color: var(--midnight-blue);
    font-size: .9rem;
    font-weight: 700;
    padding: .65rem .25rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--olive-green);
    color: var(--soft-white);
}
